
body, html {
    height: 100%;
  }

.bgImage {
    /* Set background image */
    background-image: url('../../Images/Background.jpeg');
    /* Set background size to cover the entire viewport */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    background: #ffffff;
    border: 4px #29293d solid;
    /* height: 35%; */
    width: 90%;
    margin-top: 5%
}

#navBar{
    width: 95%;
    margin: auto 10px auto 0px;
}

.buttonColor{
    color: white;
    background-color: #F05941;
}

.buttonColor:hover{
    color: #f84a2f;
    background-color: #22092C;
}


.loginForm , .signupForm{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

